@import "settings";

body {
    padding: 30px 15px;
}

.no-margin {
    margin: 0 !important;
    padding: 0;
}

//.proj-info-container {
//    position: fixed;
//}

.proj-logo-container {
    text-align: center;
}

.proj-logo {
    max-width: 50px;
}

.prev, .next {
    padding-bottom: 3rem;
}

.prev:hover, .next:hover {
    background: url(../img/zigzag300px.gif) no-repeat;
    background-size: 35px;
}

.prev:hover {
    background-position: 4% 25px;
}

.next:hover {
    background-position: 95% 25px;
}

.next {
    text-align: right;
}

.proj-title {
    img, h3, h6 {
        display: inline-block;
    }
    img {
        float: right;
        max-width: 70px;
    }
    h3 {
        float: left;
        line-height: normal;
    }
    h6 {
        font-style: italic;
        border-bottom: $border;
        padding-bottom: 1.3rem;
    }
}

.proj-desc {
    padding-top: 1rem;
}

.proj-info {
    max-width: 400px;
    border: $border;
    margin-bottom: 2rem;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: $border;
            padding: 10px 20px;
            }
        li:last-child {
            border-bottom: 0;
        }
        li > h5, p {
            margin: -3px 0;
        }
        li h5 {
            margin-top: 5px;
        }
    }
}

.proj-container {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    
    img {
        margin: .3rem 0;
    }
}

.brand-img {
    padding-bottom: 3rem;
}

.logo-construction {
    text-align: center;
    margin: 0 auto;
//    padding-top: 3rem;
}





