@import "settings";

.no-margin {
    margin: 0 !important;
    padding: 0;
}

.proj-nav {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    -webkit-transform: translate(-50%,50%);
    .prev, .next {
        position: absolute;
        padding: .3rem 1.25rem;
        color: $white;
        background-color: $black;
        &:hover {
            background: $black url(../img/link_bg_small_rect.gif) no-repeat center !important;
            background-size: 200px !important;
        }
    }
    .prev {
        left: .25rem;
        padding-right: 1rem;
    }
    .next {
        right: .25rem;
        padding-left: 1rem;
    }
}

.proj-logo-container {
    text-align: center;
}

.proj-logo {
    max-width: 50px;
}

//.prev, .next {
//    padding-bottom: 3rem;
//}
//
//.prev:hover, .next:hover {
//    background: url(../img/zigzag300px.gif) no-repeat;
//    background-size: 35px;
//}
//
//.prev:hover {
//    background-position: 4% 25px;
//}
//
//.next:hover {
//    background-position: 95% 25px;
//}
//
//.next {
//    text-align: right;
//}

.proj-title {
    img, h3, h6 {
        display: inline-block;
    }
    img {
        float: right;
        max-width: 70px;
    }
    h3 {
        float: left;
        line-height: normal;
    }
    h6 {
        font-style: italic;
        border-bottom: $border;
        padding-bottom: 1.3rem;
    }
}

.proj-desc {
    padding-top: 1rem;
}

.proj-info {
    max-width: 400px;
    border: $border;
    margin-bottom: 2rem;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: $border;
            padding: 10px 20px;
            }
        li:last-child {
            border-bottom: 0;
        }
        li > h5, p {
            margin: -3px 0;
        }
        li h5 {
            margin-top: 5px;
        }
    }
}

.proj-container {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    
    img {
        margin: .3rem 0;
    }
}

.proj-img-container > img, .proj-img-container a img {
    padding-bottom: .5rem;
}

.brand-img {
    padding-bottom: 3rem;
}

.logo-construction {
    text-align: center;
    margin: 0 auto;
//    padding-top: 3rem;
}


// featherlight

.featherlight .featherlight-content {
    padding: 0 !important;
    border: 0 !important;
}

@media all {
.featherlight:last-of-type {
    background: rgba(39, 39, 39, 0.95) !important;
}
}

