@import "settings";

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.home-link {
    padding: 5% 50% 5% 0;
    .home-logo {
    max-width: 50px;
    transition: .2s all;    
    -webkit-transition: .2s all;    
    }
    h6 {
        display: none;
        margin-left: 10px;
    }
    &:hover {
        h6 {
        display: inline-block;
        }
        .home-logo {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }
    }
}

.proj-nav {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    -webkit-transform: translate(-50%,50%);
    z-index: 5000;
    .prev, .next {
        position: absolute;
        padding: 5rem 0;
        margin-top: -5rem;
        p {
            margin-bottom: 0;
            padding: .3rem 1.25rem;
            color: $white;
            background-color: $black;
        }
        &:hover p {
            background: $black url(../img/link_bg_small_rect.gif) no-repeat center !important;
            background-size: 200px !important;
        }
    }
    .prev {
        left: .25rem;
        padding-right: 5rem;
    }
    .next {
        right: .25rem;
        padding-left: 5rem;
    }
}

.proj-section {
    padding-top: .5rem;
    border-top: 3px solid $black;
    width: 100%;
    margin: 2rem 0;
    margin-bottom: 0;
}

.proj-section-role {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: .8rem;
    font-style: italic;
}

.proj-title {
    img, h3, h6 {
        display: inline-block;
    }
    img {
        float: right;
        max-width: 70px;
    }
    h3 {
        float: left;
        line-height: normal;
    }
    h6 {
        font-style: italic !important;
        border-bottom: $border;
        padding-bottom: 1.3rem;
    }
}

.proj-desc {
    padding-top: 1rem;
}

.proj-info {
    max-width: 400px;
    border: $border;
    margin-bottom: 2rem;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: $border;
            padding: 10px 20px;
            }
        li:last-child {
            border-bottom: 0;
        }
       
        li h5 {
            margin-top: 5px;
            line-height: 1.2rem;
        }
        li p, li a {
            line-height: 18px !important;
            margin-bottom: 5px;
        }
    }
}

.proj-container {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    
    img {
        margin: .3rem 0;
    }
}

.proj-img-container > img, .proj-img-container a img {
    padding-bottom: .5rem;
}

.brand-img {
    padding-bottom: 3rem;
}

.logo-construction {
    text-align: center;
    margin: 0 auto;
//    padding-top: 3rem;
}


// featherlight

.featherlight .featherlight-content {
    padding: 0 !important;
    border: 0 !important;
}

@media all {
.featherlight:last-of-type {
    background: rgba(39, 39, 39, 0.95) !important;
    }   
}

// media queries 

@media screen and (min-width: 642px) {
    .left-photo-col {
        padding-right: 0;
    }
    .right-photo-col {
        padding-left: 0;
    }
    
    .no-margin-img {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 1155px) {
    .proj-info-container, .proj-img-container {
        display: block;
        width: 100%;
        text-align: left;
    }
    .proj-title h3, .proj-title h6 {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 641px) {
    .home-link-container {
        position: relative;
        text-align: center;
        margin-bottom: 15px;
        .home-link {
            padding: 5%;
            .home-logo {
                max-width: 40px;
            }
            &:hover {
                h6 {
                    display: none;
                }
            }
        }
    }
    .next p, .prev p {
        display: none;
    }
    .next:after {
        content: ">";
    } 
    .prev:after {
        content: "<";
    }
    .next:after, .prev:after {
        display: block;
        background-color: #222;
        color: #fff;
        padding: 10px 13px;
    }
    .proj-title {
        text-align: center;
        h3 {
            margin: 0;
        }
        h6 {
            line-height: 1.2rem !important;
        }
    }
    .proj-info, .proj-desc {
        display: none;
    }
}

