@import "foundation/components/block-grid";
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

//fonts
$monospace: 'Cutive Mono', Courier, Courier New, monospace;
$bebas: "bebas-neue", Impact, Arial, Helvetica, sans-serif;
$webdings: 'Webdings';

//colors
$yellow: #f0f066;
$black: #222;
$white: #fff;
$grey:#f4f4f4;
$pink: #ff897b;

//styles
$border: 1px solid $black;

html {
	height: 100%;
}

body {
	border: 11px solid $black;
	font: 16px/20px $monospace normal;
	color: $black;
	background-color: $grey;
	min-height: 100%;
	width: 100%;
	position: fixed;
}


::-moz-selection { background: $yellow; }
::selection { background: $yellow;}

// !!! 3 feature grid !!!
		//body, .off-canvas-wrap, .inner-wrap {
		//	min-height: 100%;
		//}
		//
		//.off-canvas-wrap {
		//	position: relative;
		//}
		//
		//.inner-wrap {
		//	position: absolute;
		//}
// !!! end 3 feature grid !!!


img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $bebas;
	letter-spacing: 3px;
	font-style: normal;
	font-weight: 400;
}

//structure

//.off-canvas-wrap {
//	 border: $border;
//}

a:link, a:active, a:visited {
	color: $black;
}

a:hover, a:focus {
	color: $pink;
}

//.container {
//	height: 100%;
//	position: fixed;
//}

//.container, .row {
//	min-height: 100%;
//}

.row {
	max-width: 100%;
}

.large-4, .large-8 {
	padding: 5%;
}

//nav and social

.menu-container {
	width: 0;
	height: 0;
	border-top: 40px solid $pink;
	border-right: 40px solid transparent;
	margin-top: 10px;
	margin-left: 10px;
}

.menu-text {
  position: absolute;
  top: 25px;
  left: 10px;
	color: $black;
}

.left-off-canvas-menu {
	background-color: $yellow;
	color: $black;
}

.about {
	padding: 0 20px;
}

.about-text {
	text-align: left;
}

.resume {
	display: block;
	margin: 40px auto;
	border: 2px solid $black;
	text-align: center;
	padding: 8px 20px;
	font-family: $bebas;
	font-size: 1.4rem;
	letter-spacing: 3px;
	color: $black;
	box-shadow: inset 0 0 0 0 $black;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
}

.resume:hover, .resume:focus {
	color: $yellow;
	box-shadow: inset 250px 0 0 0 $black;
}



.logo-container {
	text-align: left;
	padding-left: 110px;
	display: inline-block;
	float: left;
	width: 40%;
}

.logo {
	max-width: 100px;
}

.charissa {
	font-size: 1.75rem;
	margin-bottom: -5px;
	margin-top: 30px;
}

.designer {
	font-family: $monospace;
	font-size: 1rem;
	letter-spacing: 0px;
	margin-top: -5px;
}

.zigzag {
	background: url('../img/zigzag300px.png') no-repeat;
	background-size: 50px;
	display: block;
}

.zigzag:hover {
	background: url('../img/zigzag300px.gif') no-repeat;
	background-size: 50px;
}

.menu {
	margin: 40px 0px 70px;
	max-width: 200px;
	
	a {
		display: block;
		border-bottom: $border;
		padding: 10px 0px;
	}
	
	a:hover {
		color: $black;
		background: url(../img/link_bg_small_rect.gif) no-repeat center;
	}
}	

.social {
	font-size: .9rem;
	list-style: none;	
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 40px;
}

.social li {
	display: inline-block;
}

.social li a {
	background-color: transparent;
	padding: 10px;
	text-align: center;
	color: $black;
	transition: .2s all;
	-webkit-transition: .2s all;
	border: $border;
	padding-bottom: 5px;
}

.social li a:hover {
	background-color: $black;
	color: $white;
	border-radius: 100%;
	text-decoration: none;
}

// about modal

.about-modal {
	display: block;
	margin-top: 50px;
}

//project grid home page


// !!! 3 feature grid !!!

		//.project-container {
		//	height: 100%;
		//	display: inline-block;
		//	float: left;
		//	width: 60%;
		//	position: absolute;
		//  top: 0;
		//}
		//
		//.project-container .row {
		//	min-height: 50%;
		//}
		//
		//.project-container .row .columns {
		//	height: 50%;
		//  position: absolute;
		//	padding: 20px;
		//	color: $grey;
		//}
		//
		//.project-container .row .columns h3 {
		//	font-size: 1.2em;
		//	color: $grey;
		//	padding-bottom: 5px;
		//	border-bottom: 1px solid $grey;
		//	max-width: 200px;
		//}
		//
		//.feature-1 {
		//	border-bottom: 5px solid $grey;
		//	background: url(../img/ian/feature1-3.jpg) no-repeat center;
		//	background-size: cover;
		//}
		//
		//.feature-2 {
		//	background: url(../img/mid/feature2_bw.jpg) no-repeat center;
		//	background-size: cover;
		//	left: 0;
		//	border-right: 5px solid $grey;
		//	border-top: 5px solid $grey;
		//}
		//
		//.feature-3 {
		//	background: url(../img/pos/feature3.jpg) no-repeat center;
		//	background-size: cover;
		//	right: 0;
		//	border-left: 5px solid $grey;
		//	border-top: 5px solid $grey;
		//}

// !!! end 3 feature grid !!!


//.project-container {
//	height: 100%;
//	display: inline-block;
////	float: left;
////	width: 60%;
//	position: absolute;
//	top: 0;
//}


.work-grid {
  @include block-grid(
    $per-row: 2,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
//		$spacing: $block-grid-default-spacing,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}

//MAKE THE LI'S LINKS
.work-grid li {
	padding-top: 10px;
	padding-bottom: 80px;
	margin: 15px;
}

.work-grid li, .work-grid li img {
	border: $border;
	background-color: white;
}

@media screen and (min-width:642px) {
	.work-grid > li {
		width: auto;
	}
}

//@media screen and (min-width:1400px) {
//	.work-grid {
//		@include block-grid(
//			$spacing: 6rem
//		);	
//	}
//}

	
.project-container {
	display: inline-block;
	width: 60%;
	padding-right: 110px;
	min-height: 100%;
}

.project-item {
	padding: 10px;
	margin: 15px;
}

//.project-item img, .project-row li img {
//	width: 100%;
//	min-height: 100%;
//	background-color:$white;
//	padding: 10px;
//	padding-bottom: 60px;
//	border: $border;
//}

.project-row li, .project-row li img {
	min-height: 100%;
	position: relative;
	transition: .2s all ease;

}

.project-row li {
	border: $border;
	padding: 10px;
	text-align: center;
}

//.img-1 {
//	background: url('../img/mid/feature2.jpg') no-repeat center;	
//	min-height: 200px;
//	min-width: 200px;
//}


.project-img {
//	background: $yellow;
	background: url(../img/link_bg_square.gif) no-repeat center;
	background-size: contain;
	border: 1px solid $black;
	transition: .2s all ease;
}

.project-img h5 {
	color: $black;
	position: absolute;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	text-align: center;
}

.project-img h5::after {
	font-family: $webdings;
	content: '';
	display: block;
	font-size: 3.5rem;
	margin-top: -15px;
}


.project-row li:hover {	
	
	img {
		opacity: 0;
	}
}


.project-row li p.title {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 1.2rem;
}

.project-row li p.details {
	font-style: italic;
	font-size: .8rem;
}

.project-row li p span {
	font-family: $webdings;
}







